<% include header %>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Tantárgy létrehozása</h1>
        </div>
      </div>      
      <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                  <label for="inputSubjectName">Tárgy neve</label>
                  <input type="text" class="form-control col" id="inputSubjectName" placeholder="Tárgy neve">
                </div>
                <div class="form-group">
                    <label for="selectTeacher">Tanár</label>
                    <select class="form-control" id="selectTeacher">
                        <option>Nincs tanár</option>
                        <option>Minta Aladár</option>
                        <option>Mézga Géza</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputSubjectName">Időpont</label>
                    <div class="form-row">
                        <div class="col-4">
                            <select class="form-control" id="selectDay">
                                <option>Hétfő</option>
                                <option>Kedd</option>
                                <option>Szerda</option>
                                <option>Csütörtök</option>
                                <option>Péntek</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="inputBeginTime" placeholder="Kezdési időpont">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control col" id="inputEndTime" placeholder="Vége időpont">
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-6">
                      <a type="submit" class="btn btn-success" href="/editsubjects.html">Mentés</a>
                    </div>
                  <div class="col-6">
                      <a type="submit" class="btn btn-secondary" href="/editsubjects.html">Vissza</a>
                  </div>                  
                </div>
              </form>
        </div>
      </div>         
    </div>
    
<% include footer %>