<% if(typeof error !== "undefined") { %>
<div class="row">
    <div class="col text-center">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>  
    </div>
</div>
<%}%>