<% include header %>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Jelszó változtatás</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                  <label for="inputNeptun">Neptun kód</label>
                  <input type="text" class="form-control" id="inputNeptun" placeholder="Neptun kód">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Új jelszó</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Új jelszó">
                </div>
                <div class="form-group">
                    <label for="inputRepeatPassword">Új jelszó mégegyszer</label>
                    <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Új jelszó mégegyszer">
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Jelszó megváltoztatása</a>
                    </div> 
                    <div class="col-6">
                        <a class="btn btn-secondary" href="/">Mégsem</a>
                    </div>                
                </div>
              </form>
        </div>
      </div>        
    </div>
    
<% include footer %>