<% include header %>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Regisztráció</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <form method="post">
                <div class="text-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" id="optionStudent" checked> Diák
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="optionTeacher"> Tanár
                        </label>
                    </div>
                </div>
                <div class="form-group">
                  <label for="inputNeptun">Neptun kód</label>
                  <input type="text" class="form-control" id="inputNeptun" placeholder="Neptun kód">
                </div>
                <div class="form-group">
                    <label for="inputName">Teljes név</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Teljes név">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Jelszó</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Jelszó">
                </div>
                <div class="form-group">
                    <label for="inputRepeatPassword">Jelszó mégegyszer</label>
                    <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Jelszó mégegyszer">
                </div>
                <div class="row text-center">
                  <div class="col">
                    <button type="submit" class="btn btn-primary" href="/register">Regisztráció</a>
                  </div> 
                  <div class="col">
                      <a class="btn btn-secondary" href="/">Vissza</a>
                    </div>                    
                </div>
              </form>
        </div>
      </div>        
    </div>
    

<% include footer %>