<% include header %>

    <div class="container">
      <div class="row">
        <div class="col-10 text-center">
          <h1><%= user.name %></h1>
        </div>
        <div class="col-2">
            <a class="btn btn-danger" href="/logout">Kilépés</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tanított tantárgyak</th>
                    <th scope="col" style="width: 1px"></th>
                  </tr>
                </thead>
                <tbody>
                  <% user.subjects.forEach(function(subject){ %>
                    <tr>
                      <td><%= subject.name %></td>
                      <td>
                          <a class="btn btn-primary" href="/subject/<%= subject._id %>/students">Hallgatók</a>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
      </div>   
      <div class="row text-center">
        <div class="col">
            <a class="btn btn-primary" href="/subjects">Tantárgyak szerkesztése</a>
        </div> 
      </div>         
    </div>
    
<% include footer %>

